div.table {
  width: 100%;

  thead tr th {
    font-weight: bold;
  }
}
div.popper {
  border: 1px;
  border-style: solid;
  border-color: #a543e1;
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
