@import "styles/variables.scss";

div.UpdateVehicleModal_Form {
  text-align: center;
  width: 100%;
  text-align: initial;

  h4.form-input-title {
    color: $primary-color;
    margin-bottom: 2rem;
    text-align: center;
  }
  div.form_input {
    margin-top: 1rem;
  }
}
