@import "styles/variables.scss";

div.CreateNew_Modal_Form {
  text-align: center;

  h4.form-input-title {
    color: $primary-color;
    margin-bottom: 2rem;
  }
  div.form_input {
    margin-top: 1rem;
  }
}
