div.BasicMenu {
  min-height: 100vh;
  background-color: #fff;
  div.logo {
    height: 120px;
    text-align: center;
    padding-top: 2.5rem;
  }
  button.button-inicio,
  button.button-cars,
  button.button-garages {
    margin-top: 0.5rem;
    border: 2px;
    border-style: groove;
    border-color: #8338ea;
    background-color: #85828a;
    color: #10151f;
    width: 100%;
  }
}
