div.button {
  button.button-session {
    margin-top: 2rem;
    padding-top: 0.5rem;
    width: 235px;
    height: 56px;
    text-align: center;
    border-radius: 40px;
    border-color: rgb(138, 62, 151);
    border-style: groove;
  }
}
